<div class="container-fluid top-spacing">
	<div class="row">
		<div class="col-md-10">
			<h2 class="no-top-spacing">Music Tracks</h2>
		</div>
		<div class="col-md-2 text-right">
			<a href="#/tracks/create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Track</a>
		</div>
	</div>
</div>
<div>
	<div class="form-group">
		<input type="text" placeholder="Search Track" ng-model="trackName" class="form-control input-lg" ng-change="filterTracks(trackName)">
	</div>
</div>
<div>
	<div class="list-group">
		<li class="list-group-item" ng-repeat="track in tracks | limitTo: loadSize">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						{{ track.title }}
					</div>
					<div class="col-md-2 text-right">
						<rating rate="track.rating"></rating>
					</div>
					<div class="col-md-2 text-right">
						<a title="View" class="btn btn-link btn-sm" ng-href="/#/tracks/{{track.id}}">
							<i class="glyphicon glyphicon-eye-open"></i>
						</a>
						<a title="Edit" class="btn btn-link btn-sm" ng-href="/#/tracks/{{track.id}}/edit">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
					</div>
				</div>
			</div>
		</li>
	</div>
	<div class="text-center">
		<a class="btn btn-primary" ng-click="loadSize = loadSize + loadSize">Load more</a>
	</div>
</div>
