<h2 ng-if="track.id">Edit Track</h2>
<h2 ng-if="!track.id">Create Track</h2>
<form class="form-horizontal" ng-submit="saveTrack(track)">
	<div class="form-group">
		<label class="col-sm-2 control-label">Title</label>
		<div class="col-sm-10">
			<input type="title" class="form-control" ng-model="track.title" placeholder="Title" required>
		</div>
	</div>
 	<div class="form-group">
		<label for="inputPassword3" class="col-sm-2 control-label">Rate</label>
		<div class="col-sm-10">
			<rate-editor rate="track.rating"></rate-editor>
		</div>
	</div>
	<div class="form-group">
		<label for="inputPassword3" class="col-sm-2 control-label">Genre</label>
		<div class="col-sm-10">
			<select id="genre"  
				ng-options="genre.name for genre in genres track by genre.id" 
				ng-model="track.genres" 
				multiple="multiple">
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="/#/" class="btn btn-link">Cancel</a>
		</div>
	</div>
</form>