<h2>{{track.title}} <small class="inline-block"><rating rate="track.rating"></rating></small></h2>
<div class="top-spacing">
	Genre: <span class="label label-default sm-right-spacing" ng-repeat="genre in track.genres">{{ genre.name }}</span>
</div>
<div class="top-spacing">
	<a href="/#/" class="btn btn-primary">View All Tracks</a>
	<a ng-href="#/tracks/{{track.id}}/edit" class="btn btn-warning">Edit Track</a>
</div>