<h2 ng-if="genre.id">Edit Genre</h2>
<h2 ng-if="!genre.id">Create Genre</h2>
<form class="form-horizontal" ng-submit="saveGenre(genre)">
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="name" class="form-control" ng-model="genre.name" placeholder="Title" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="/#/genres/" class="btn btn-link">Cancel</a>
		</div>
	</div>
</form>