<div class="container-fluid top-spacing">
	<div class="row">
		<div class="col-md-10">
			<h2 class="no-top-spacing">Genres</h2>
		</div>
		<div class="col-md-2 text-right">
			<a href="#/genres/create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Genre</a>
		</div>
	</div>
</div>
<div>
	<div class="form-group">
		<input type="text" placeholder="Search Genre" ng-model="genreName" class="form-control input-lg" ng-change="filterGenres(genreName)">
	</div>
</div>
<div>
	<div class="list-group">
		<li class="list-group-item" ng-repeat="genre in genres | limitTo: loadSize">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-10">
						{{ genre.name }}
					</div>
					<div class="col-md-2 text-right">
						<a title="View" class="btn btn-link btn-sm" ng-href="/#/genres/{{genre.id}}">
							<i class="glyphicon glyphicon-eye-open"></i>
						</a>
						<a title="Edit" class="btn btn-link btn-sm" ng-href="/#/genres/{{genre.id}}/edit">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
					</div>
				</div>
			</div>
		</li>
	</div>
	<div class="text-center">
		<a class="btn btn-primary" ng-click="loadSize = loadSize + loadSize">Load more</a>
	</div>
</div>
