<h2>Genre:</h2>
<div class="top-spacing">
	<label>Name:</label>
	<p>{{ genre.name }}</p>
</div>
<div class="top-spacing">
	<a href="/#/genres" class="btn btn-primary">View All Genres</a>
	<a ng-href="#/genres/{{genre.id}}/edit" class="btn btn-warning">Edit Genre</a>
</div>