<!DOCTYPE html>
<html ng-app="musicApp">
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="assets/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/select2/dist/css/select2.min.css">
		<link rel="stylesheet" type="text/css" href="assets/ng-tags-input/ng-tags-input.min.css">
		<link rel="stylesheet" type="text/css" href="assets/ng-tags-input/ng-tags-input.bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">App</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/#/">Tracks</a></li>
						<li><a href="/#/genres">Genres</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="text-center">
			<span class="label label-primary" ng-if="isLoading">Loading</span>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-md-offset-1" ng-view></div>
			</div>
		</div>
		<script type="text/javascript" src="assets/angular/angular.min.js"></script>
		<script type="text/javascript" src="assets/angular-resource/angular-resource.min.js"></script>
		<script type="text/javascript" src="assets/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="assets/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="assets/select2/dist/js/select2.min.js"></script>
		<script type="text/javascript" src="assets/ng-tags-input/ng-tags-input.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>